.whole-grid3 {
  font-family: "Public Sans", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin-left: auto;
  margin-right: auto;
  width: 1379px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.grid-style {
  border-radius: 8px;
  backdrop-filter: saturate(200%) blur(6px);
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: rgba(59, 78, 97, 0.1) 5px 5px 10px 1px;
}

.grid3-left,
.grid3-middle,
.grid3-right {
  height: 500px;
  width: 444px;
  padding: 24px 24px;
  box-sizing: border-box;
}

.light-grey-subtitle {
  font-size: 15px;
  color: #32475c99;
  font-weight: 500;
}

.order-section .text {
  text-align: left;
}

.grid3-position-ui-menu {
  position: absolute;
  top: 0px;
  right: -10px;
  z-index: 1000;
}

.order-section {
  position: relative;
}

.total-order {
  text-align: left;
  margin-top: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 111px;
}

.category-description h4 {
  color: #32475cde;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.category-description h5 {
  color: #32475c61;
  font-size: 14px;
  font-weight: 500;
}

.each-order-datalist {
  display: flex;
  margin-top: 25px;
  justify-content: space-between;
  height: 44px;
  /* align-items: center; */
}

.each-order-datalist span {
  color: #32475c99;
  font-size: 14px;
  margin-right: 20px;
  z-index: 1000;
  display: flex;
  align-items: center;
}

.category-description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: -120px;
  text-align: left;
}

.grid3-trans-top h4 {
  color: #32475cde;
  font-size: 20px;
  text-align: left;
  /* margin-top: 20px; */
}

.grid3-trans-top {
  position: relative;
}

.grid3-position-ui-menu2 {
  position: absolute;
  top: -5px;
  right: -10px;
  z-index: 1000;
}

.each-trans-datalist {
  display: flex;
  margin-top: 33px;
  justify-content: space-between;
  height: 44px;
  /* align-items: center; */
}

.trans-img {
  width: 38px;
  height: 38px;
  margin-right: 20px;
}

.trans-usd {
  font-size: 16px;
  color: #32475c61;
}

.trans-category-description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  text-align: left;
}

.trans-category-description h5 {
  color: #32475c61;
  font-size: 14px;
  font-weight: 500;
}

.trans-category-description h4 {
  color: #32475cde;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.num-usd {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.trans-usd {
  margin-right: 15px;
  color: #32475c99;
}

.trans-num {
  margin-right: 10px;
  color: #32475cde;
}
