.tab-total-section {
  display: flex;
  margin-bottom: 32px;
  margin-top: 20px;
}

.tab-text-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 20px;
}

.tab-total-section img {
  width: 46px;
  height: 46px;
}

.tab-text-flex h5 {
  font-size: 16px;
  color: #32475c99;
  font-weight: 500;
}

.tab-text-flex h4 {
  font-size: 20px;
  color: #32475cde;
  font-weight: 500;
}

.tab-text-flex h4 span {
  font-size: 14px;
  color: #71dd37;
}

.tab-circle-image {
  width: 50px;
  height: 45px;
}

.tab-bottom-text h5 {
  font-size: 16px;
  color: #32475c99;
  font-weight: 500;
}

.tab-bottom-text h4 {
  font-size: 14spx;
  color: #32475c61;
  font-weight: 500;
}

.tab-bottom {
  display: flex;
  align-items: center;
  margin-left: 35px;
  margin-top: 30px;
}

.tab-bottom-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 15px;
  text-align: left;
  flex-grow: 1;
}

.tab-line-chart {
  width: 444px;
  margin-left: -45px;
}
