.whole-grid2 {
  font-family: "Public Sans", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin-left: auto;
  margin-right: auto;
  width: 1379px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.grid-style {
  border-radius: 8px;
  backdrop-filter: saturate(200%) blur(6px);
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: rgba(59, 78, 97, 0.1) 5px 5px 10px 1px;
}

.left-grid2 {
  width: 912px;
  height: 362px;
  display: flex;
  justify-content: space-evenly;
}

.right-top-grid2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}

.right-section-grid2 .right-1 {
  width: 210px;
  height: 180px;
  padding: 20px 24px;
  box-sizing: border-box !important;
  margin-right: 22px;
  text-align: left;
}

.right-section-grid2 .right-1 img {
  width: 42px;
  height: 42px;
}

.right-section-grid2 .right-2 {
  width: 210px;
  height: 180px;
  padding: 20px 24px;
  box-sizing: border-box !important;
}

.right-section-grid2 .right-3 {
  width: 442px;
  height: 160px;
}

.row2-year-dropdown {
  padding: 8px 12px;
  border: 1px solid #696cff;
  border-radius: 4px;
  font-size: 13px;
  cursor: pointer;
  color: #696cff;
  font-family: "Public Sans", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.row2-left-chart {
  width: 531px;
  height: 382px;
}

.row2-left-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 1;
}

.chart78 {
  width: 134px;
}

.grey-year {
  font-size: 14px;
  color: #32475c99;
}

.bottom-section {
  display: flex;
}

.bottom-section .bs-l {
  display: flex;
  justify-content: center;
  /* Center children on the main axis */
  gap: 4px;
}

.bottom-section .bs-r {
  display: flex;
  justify-content: center;
  /* Center children on the main axis */
  gap: 4px;
  margin-left: 30px;
}

.yn-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  margin-left: 5px;
  font-family: "Public Sans", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.total-revenue-chart {
  background-color: transparent;
  margin-left: 20px;
  margin-top: 10px;
  /* scale: 1.05; */
}

.total-Revenue-text {
  color: rgba(50, 71, 92, 0.87);
  font-size: 15px;
  font-weight: 600;
  text-align: left;
  margin-left: 20px;
  margin-top: 20px;
}

.dot-and-label-one,
.dot-and-label-two {
  display: flex;
  align-items: center;
}

.dot-and-label-two {
  margin-left: 20px;
}

.big-flex {
  display: flex;
  margin-left: 20px;
  margin-top: 15px;
}

.right-3 {
  display: flex;
  justify-content: space-between;
}

.profile-report-area {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px;
  align-items: center;
}

.dark-grey-title {
  color: #32475cde;
  font-size: 20px;
  margin-top: 10px;
}

.year2024 {
  color: #ffab00;
  font-size: 13px;
  padding: 5px 10px;
  background-color: #ffab0030;
  border-radius: 5px;
}
